<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TTS Blog Project</title>
   <div th:replace="/fragments/styling :: head-style"></div>
</head>
<body>
    <div class="container">
        <div th:replace="/fragments/navbar :: navbar"></div>
        <div class="row form-begin">
            <p class = beforeForm>Use the form below to submit a blog post:</p>
           
            <form  action="#" th:action="@{/blogposts}" th:object="${blogPost}" method="POST">
              <label for="blogTitle">Title:</label>
              <input type="text" name="blogTitle" placeholder = "Enter Post Title" th:field="*{title}" />
                <br />    
              <label for="blogAuthor">Author:</label>
              <input type="text" name="blogAuthor"  placeholder= "Enter Author Name" th:field="*{author}" />
    
              <label for="blogEntry">Blog Entry:</label>
              <input type="textarea" name="blogEntry" th:field="*{blogEntry}" />
    
              <button type="submit" >Submit</button>
            </form>
        </div>
    </div>
    
    <div th:replace="/fragments/styling :: body-links"></div>
    </body>
</html>