/* global styles */
body{
    background-color: #f0e6d7;
}
html{
    padding: .6em 1em;
}


    h1, h2, h3, h4{
        font-family: 'Adamina', serif;
        display: block;
        color: #fb7217;
    }

    h1, h4{
        font-weight: bold;
    }

p {
    font-family: 'Gothic A1', sans-serif;
    color: #444;
    size: 40px;
}

/* navbar styling */

.navbar-light .navbar-brand{
    color: #dd7549;
    font-weight: normal;
}

.navbar-light .navbar-brand:hover{
    color: white;   
    font-weight: normal;
    padding: 0 3px;
}
.navbar-light .navbar-nav .nav-link{
    color:  #dd7549;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: #dd7549;
    background-color: #C1DBD0;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: #dd7549;
}

input[name="search"]{
    font-family: 'Adamina', serif;
}
.bg-light{
    background-color: transparent!important;
    border-bottom: 1px solid #dd7549;    
}
.btn-outline-success{
    border-color: #DD7549;
    color: #DD7549;
}

.btn-outline-success:hover{
    background-color: #c1dbd0;
    color: #dd7549;
}

.dropdown-menu, .dropdown-toggle {
    background-color: #f0e6d7;    
}

.dropdown-item {
   color: #dd7549;
}

.dropdown-item:hover {
    color: #dd7549;
    background-color: white;
 }

/* form styling */
.form-begin{
    display: block;
    margin-top: 25px;
}


.beforeForm{
    color: #DD7549;
    padding-bottom: 20px;
}

label[for="blogTitle"], label[for="blogAuthor"] {
    display: inline-block;
    margin: 20px 0; 
    width: 80px;
    text-transform: uppercase;
}


input[type ="text"]{
    font-size: 14px;
    width: 400px;
    height: 30px;
    font-family: 'Adamina', serif;
    font-weight: bold;
}

label[for ="blogEntry"]{
    display: block;
    margin-top: 10px;
    border: rgba(30,30,30,.5);
    text-transform: uppercase;    
}

input[name="blogEntry"]{
    width: 700px;
    height: 450px;
    display: block;
    margin-bottom: 10px;
    background-color: #f6f6f6;
    color: #444;
    padding-bottom: 410px;
    font-family: 'Gothic A1', sans-serif;
}

button{
    background-color: #DD7549;
    color: white;
    text-transform: uppercase;
    width: 80px;
    height: 40px;
    border-radius: 10%; 
    border: none;   
}

button:hover{
    background-color: #c1dbd0;
    color: #dd7549;
}


/* index styling */


.container{
    margin: 0 auto;
}

.headline{
    margin-top: 30px;
}

.subhead{
    padding-bottom: 20px;
    color: #444;
}

.postcards{
    margin-top: 30px;
}

.card-group{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.card-footer{
    display: flex;
    justify-content: center;    
}

.card{
    background-color: #C1DBD0;
    margin-bottom: 20px;
    width: 300px;
    display: flex;           /* new */
    flex-direction: column;
    flex: 2;
}

.card:hover{
   border: 1px solid #dd7549;
}

.card-body{
    background-color: #e6e6e6;
    flex: 1;
}

.card-title {
    color: #444;
    font-family: 'Adamina', serif;
    font-weight: bold;
}

.btn-success{
    background-color: #DD7549;
    color: white;
    border: none;
    width: 160px;
    margin-top: 25px;
}

.btn-success:hover{
    background-color: #c1dbd0;
    color: #dd7549;
    font-weight: bold;
    border: none;
 }


/* results page */
.post-submit-spacing{
    display: block;
    margin-top: 30px;
}

.bPost{
    margin-top: 40px;
}
.btn-primary{
    background-color: #DD7549;
    color: white;
}

.btn-primary:hover{
   background-color: #EBDECB;
   color: #DD7549;
   font-weight: bold;
}

.btn-secondary{
    width: 60px;
    background-color: #c1dbd0;
    color: #dd7549;
    font-size: small;
    font-weight: bold;
    border: 1px solid #dd7549;
}

.btn-secondary:hover{
    background-color: #EBDECB;
    color: #DD7549;
    font-weight: bold
 }

 .btn-danger{
    width: 80px;
    background-color: #c1dbd0;
    color: #dd7549;
    font-size: small;
    font-weight: bold;
    border: 1px solid #dd7549;
}

 .btn-danger:hover{
     border: 1px solid #dd7549;
    background-color: #dd7549;
    color: white;
    font-size: small;
    font-weight: bold;
}

.addl-post{
    width: 100px;
    font-weight: bold;
    font-size: small;
    border: 1px solid #dd7549; 
}

.addl-post:hover{
    border: 1px solid #c1dbd0;
}